---
layout: default
---
<h1>Recent Code Reviews</h1>

We have started the alpha phase of a community code review process. Below is a list of some of the reviews that were conducted.

  {% assign years = site.reviews | group_by: 'year' | sort: 'date' | reverse  %}
  {% for year in years %}
  <hr>
  <h2>{{ year.name }}</h2>
  <ul class="list-group list-group-flush">
  {% assign reviews = year.items | sort: 'date' | reverse %}
  {% for review in reviews %}
    <li class="list-group-item">
      <a href="{{review.pull_request}}">{{review.title}}</a>
      <br>Submitter:  {{ review.submitters | join:", " }}
      <br>Reviewer: {{ review.reviewers | join:", " }}
      {% if review.facilitator %}<br>Facilitator: {{review.facilitator}}{% endif %}
      {% if review.publications %}<br>Publications: 
      <ul>
        {% for pub in review.publications %}
        <li><a target="_blank" href="{{pub.publication.link}}">{{pub.publication.title}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  {% endfor %}